.log-in-content-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.teacher-login-wrap{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 439px;
}

.teacher-login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-teacher-label{
    font-size: 16px;
}

@media (max-width:479px) {
    .teacher-login-wrap{
       width: 100%;
    }
}
@media (max-width:382px) {
    .teacher-login-wrap{
        height: 100vh;
     }
}