
.stator{
    position: fixed;
}

.welcome-part-one{
    width: 100%;
    display: flex;
    background: white;
    /* height: calc(100vh - 70px); */
}
.welcome-notes{
    width: max-content;
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.actual-content{
    width:90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
    gap: 1rem; 
    /* max-width: 500px; */
}
@media (min-width:1200px) {
    .actual-content{
        width: 500px;
    }
}
.welcome-image-div{
    flex: 0.6;
}
.welcome-img{
    width: 100%;
    height: 100%;
}
.welcome-part-two{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}
.doables{
    padding: 3rem 0px 3rem 0px;
    /* padding-bottom: 5rem; */
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* background:red; */
}
.doable-heading{
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    /* background: green; */
}
.welcome-p{
    margin-top: 0.5rem;
}
.show-case{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right,#1c67ca, #18005a);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.doable-image{
    width: 100px;
    height: 100px;
}

.notes-heading {
    font-size: 45px;
}

.welcoming-contents{
    font-size: 20px;
}

.welcome-btn-div{
    width: 100%;
}
.welcoming-btn{
    width: 100%;
    padding: 10px;
    font-size: 17px;
    background: rgb(43, 34, 34);
    color: white;
    outline: none;
    border: none;
   font-weight: bold;
   cursor: pointer;
}
.welcoming-btn:hover{
    background: rgb(66, 63, 63);
}
.doable-para{
    font-size: 17px;
}

.doable-divs{
    width: 280px;
    padding: 0.5rem;
    /* background: yellow; */
}
.count-size{
    font-size: 50px;
    color: white;
}
.lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 17px;
}

.welcome-image-div-small{
    display: none;
}

@media (max-width:1100px) {
    .welcome-part-one{
        height: max-content;
    }
}

@media (max-width:800px) {
    .notes-heading{
        font-size: 35px;
    }

    .actual-content{
        width: 100%;
    }
}

@media (max-width:700px) {
    .welcome-part-one{
        width: 100vw;
        flex-direction: column;
    }

    .welcome-image-div{
        display: none;
    }

    .welcome-image-div-small{
        display: block;
        order:1;
    }

    .welcome-notes{
        order: 2;
        width: 100%;
        justify-content:none;
        align-items: none;
    }
    .actual-content{
        justify-content:none;
        align-items: none;
        width: 100%;
        height: 100%;
    }
}

@media (max-width:900px) {
    .doables{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:280px) {
    .doable-divs{
        width: 100%;
    }
}

@media (max-width:400px){
    .count-size{
        font-size: 35px;
    }

    .lists p{
        font-size: 15px;
    }
}
