.account-page-reviews-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}
.reviews-section {
    margin-top: 1rem;
    width: 500px;
    overflow-y: scroll; /* Allow vertical scrolling if content exceeds */
    max-height: 500px; /* Constrain height and allow scrolling */
    /* background-color: #81b9f5; */
}

/* Hide scrollbars but keep scrolling functionality */
.reviews-section::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.teachers-page-reviews-wrap{

}