.review-card {
  position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 16px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     background-color: #a4a4a4;
     /* background-color: #797979; */

  }

  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 1rem;
  }

  .pfp-pg-img-div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(255, 162, 96), rgb(255, 112, 188), rgb(125, 53, 129), rgb(94, 94, 255));
    padding: 1px;
    cursor: pointer;
  }
  
  .profilePic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .liked{
     color: green;
  }

  .disliked{
    color: red;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .rating {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
  }
  
  .star {
    color: #ffc107;
    margin-right: 4px;
  }
  
  .review-div {
    margin-bottom: 12px;
    font-size: 16px;
    width: 100%;background: rgb(125, 125, 125);
    height: max-content;
    word-break: break-word;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }
  
  .user-actions{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .likeSection,
  .dislikeSection {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icon {
    margin-right: 4px;
    font-size: 18px;
  }

  .rated{
    color: #FFD700;
  }
  .like{
    color: green;
  }
  .dislike{
    color: red;
  }

  .icon-cntr{
    gap: 0.2rem;
    display: flex;
    height: max-content;
    align-items: center;
  }

  .my-reviews-page-flex-div{
    display: flex;
    align-items: center;
    gap:1rem;
  }
.review-card{
  /* padding-top: 1.8rem; */
  position: relative;
}
.reviews-page-options-icons{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    gap: 1rem;
    display: flex;
}
.review-edit{
  color: blue;
  cursor:pointer;
  position: relative;
}
.review-delete{
  color: red;
  cursor:pointer;
  position: relative;
}
.review-save{
  color: green;
  cursor:pointer;
  position: relative;
}
.review-cancel{
  color:rgb(70, 70, 70);
  cursor:pointer;
  position: relative;
}

.disabled-like {
  pointer-events: none;  /* Prevents clicks */
  opacity: 0.6;          /* Optional: Make it visually appear disabled */
  cursor: not-allowed;   /* Optional: Change the cursor to indicate it's disabled */
}


.like-dislike-icon{
  position: relative;
}

.review-pg-txtarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  outline: none;
  font-size: 17.5px;
  margin-bottom: 12px;
}

.review-pg-txtarea:focus{
  border: 2px solid blue;
  outline: none;
}

.error-p{
  color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.tooltip::before,
.tooltip::after{
  --scale:0;
  --tooltip-color:#333;
  --arrow-size:7px;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y,0)) scale(var(--scale));
  transition: 50ms transform;
  transform-origin: bottom center;
  
}

.tooltip::before{
  --translate-y:calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  width: max-content;
  text-align: center;
  border-radius: .3rem;
  background:var(--tooltip-color);
}

.tooltip:hover::after,
.tooltip:hover::before{
  --scale:1;
}

.tooltip::after{
  --translate-y:calc(-1 * var(--arrow-size));
  content: '';
  border:var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.review-createdat{
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

<<<<<<< Updated upstream
=======
@media (max-width:273px) {
  .review-card{
    padding-top: 1.8rem;
  }
}

@media (max-width:350px) {
  .my-reviews-page-flex-div{
    flex-direction: column;
    align-items: flex-start;
  }
}

>>>>>>> Stashed changes
@media (max-width: 530px) {
  .review-card {
      transform: scale(0.97); /* Scales down to 80% of the original size */
      transition: transform 0.3s ease; /* Smooth transition */
  }
}

@media (max-width: 400px) {
  .my-reviews-page-flex-div{
    gap: 0;
  }

  .reviews-page-options-icons{
    top: auto;
    bottom: 1.5rem;
  }
}

