.edit-prof-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    border:none;
   background-color: transparent;
}
.spz{
    margin-top: 1rem;
}
.about-content{
    width: 100%;
    height: 100%;
}
.edit-styl{
    background: green;
    color: white;
}
.norm-style{
    background: blue;
    color: white;
}