.student-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:calc(100vh - var(--header-height));
  background-color: #f0f2f5; /* Light background color */
}

.student-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.student-profile-picture{
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.student-profile-info h1 {
  margin-top: 10px;
  font-size: 24px; /* Adjust size as needed */
  color: #333; /* Dark text color for better readability */
}

.student-profile-footer {
  margin-top: 20px;
  text-align: center;
  color: #888; /* Lighter color for less emphasis */
}

.student-profile-para{
  font-size: 20px;
}


.hf-crc{
  width: 50px;
  height: 30px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotate(-45deg);
  position: absolute;
  background: rgb(78, 78, 186);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  bottom: 6%;
  right: 0%;
}

.profile-edit-icon {
  position: absolute;
   right: 11.5%;
  bottom: 7.5%;
  cursor: pointer;
   color: white;
}
.isedit-btns-div{
  width: 400px;
  display: flex;
}

.std-pfp-nm-inp{
  border: 2px solid #ccc;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

@media (max-width:400px) {
  .isedit-btns-div{
    width: 100vw;
  }
}