.account-layout{
    display: flex;
    background-image: linear-gradient(to bottom right, #a07969, #f7efe6);
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    gap: 1rem;
    /* background-color: aqua; */
}
.layout-icons{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #266daf, #02dffc);
    height: max-content;
    padding: 10px;
    border-radius: 20px;
}
.icon-para{
    font-size: 20px;
}