:root {
    --header-height: 70px;
}

.ac-layout{
    color: white;
}

.account-layout{
    display: flex;
    background-color: #27187E;
    width: 100%;
    height: var(--header-height);
    align-items: center;
    justify-content: end;
    padding-right: 3rem;
    gap: 3rem;
}
.layout-icons{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #266daf, #02dffc);
    height: max-content;
    padding: 10px;
    border-radius: 20px;
}
.icon-para{
    font-size: 20px;
}
.setting-div{
    position: relative;
}
.settings-options{
    position: absolute;
    display: none;
    width: max-content;
    box-shadow: 0px 0px 5px 1px black;
    z-index: 1;
    padding: 5px;
    background: black;
    color: white;
}

.setting-div:hover .settings-options{
    display: block;
}

.stg-options{
    margin-top: .5rem;
    padding: 5px;
    cursor: pointer;
}

.stg-options:hover{
   background: gray;
}
.stg-options.delete:hover{
    background: red;
    color: white;
}

@media (max-width:500px) {
    .account-layout{
        gap: 0.5rem;
        padding-right: 0
    }

    .settings-options{
        right: 0;
    }
}