.home-wrap{
    display: flex;
    min-height:calc(100vh - var(--header-height));
    align-items: center;
    justify-content: space-around;
    background: yellow;
}
.home-h1{
    color:#291720;
    font-size:60px;
    margin-left: 1rem;
}
.home-content{
    /* margin-left: 10px; */
    text-shadow:outset 1px 1px 10px black;
    max-width: 815px;
    /* background: #de7321; */
}
.home-img-div{
    /* background: green; */
    /* transform: scale(1.1); */
}
.home-img{
   width: 100%;
   height: 100%;
}
.home-srch-btn{
  color: white;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-left: 1rem;
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: #FC4B03;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
  }
  .about-para{
    font-size: 30px;
}
.about-h1{
  text-align: center;
}
.home-srch-btn:hover{
  background-color:#de7321;
}

.btn-cntr{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-home-div{
  /* background: #de7321; */
  width: 600px;
  padding: 1rem;
}

@media (max-width:1200px) {
    .home-img-div{
      transform: scaleX(0.8);
    }

    .search-home-div{
      margin-left: 1rem;
    }
}

@media (max-width:1000px) {
     .home-img-div{
      display: none;
     }
    .home-content{
      width: 80%;
    }
    .search-home-div{
      margin-left: 0;
    }
}

@media(max-width:287px) {
   .home-h1{
     font-size: 20vw;
   }

   .home-srch-btn{
      width: 50vw;
      height: 18vw;
      font-size: 6vw;
   }
}

@media (min-width:1000px) and (max-width:1210px) {
    /* .search-home-div{
      background: gray;
      width:550px;
    } */
}

