.login-pg-wrap {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - var(--header-height));
  /* background: #f0f2f5; */
  background-image: url('/home/subram/Desktop/React_practice/react_practice/src/assets/teaching.jpg');
  background-repeat: no-repeat;
    background-size: cover;
  padding: 20px;
}

.login-content-wrap {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better contrast */
  border-radius: 5px; /* Rounded corners for the background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.login-content-wrap h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
}

.login-content-wrap a {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.login-content-wrap a:hover {
  text-decoration: underline;
}

.login-div {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
}
