.my-tutions{
    width: 700px;
    height: calc(100vh - var(--header-height) - 150px);
    overflow-y: overlay;
}
.my-tution-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}
.green-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    padding: 10px 20px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Allow margin/padding */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.green-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
.del-bck{
    background: red;
    color: white;
}
.ed-bck{
    background: blue;
    color: white;
}
.sv-bck{
    background: green;
    color: white;
}
.cncl-bck{
    background:#808080;
    color: white;
}
.add-tut-bck{
    background: green;
    color: white;
    margin-bottom: 1rem;
}

.my-tutions{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}