.tutor-card {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

.tutor-card__profile-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    /* background: rebeccapurple; */
}

.tutor-card__profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.tutor-card__info {
    display: flex;
    flex-direction: column;
    /* background: #555; */
    width: 100%;
    gap: 0.3rem;
}

.tutor-card__name {
    margin: 0;
    font-size: 20px;
}

.tutor-card__rating {
    display: flex;
    align-items: center;
}

.tutor-card__stars {
    font-size: 16px;
    margin-right: 5px;
}

.tutor-card__reviews {
    font-size: 14px;
    color: #555;
}

.tutor-card__details {
    margin: 5px 0;
}

.tution-info{
    display: flex;
    /* min-width: 500px; */
    align-items: flex-start;
    justify-content: space-between;
    /* background: pink; */
    padding: 10px;
    /* gap: 5rem; */
    /* background: yellow; */
}

.tutor-img{
    width: 125px;
    height: 125px;
   border-radius: 50%;
   cursor: pointer;
}

.tutor-img-div{
    align-self: center;
    /* background: gold; */
}

.tution-sub-info-1{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* background: #555; */
    padding-right: 10px;
    max-width: 300px;
}

.tution-sub-info-2{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.subjects-div{
    /* height: max-content; */
      max-height: 50px;
     overflow-y: overlay; 
}
    
.subjects-div:hover{
    overflow: overlay;

}

.subjects-div::-webkit-scrollbar{
    width: 0.4vw;
}

.subjects-div::-webkit-scrollbar-thumb{
    /* background-color: #777; */
    border-radius: 10px;
}

/* .subjects-div::-webkit-scrollbar-track{
} */

.subject-container{
    margin-bottom: 0.5rem;
}

.bookmark-icon-div{
    position: absolute;
    right: 1rem;
    top: 0;
    cursor: pointer;
}

.date-div{
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 15px;
}
.bookmark-icon{
    position: relative;
}

.createdAt-p{
    font-size: 14px;
}

.visit-profile-img{
    width: 20px;
    height: 20px;
}

.mobile-visit-prof-div{
    display: flex;
    gap: 1rem;
    align-items: center;
    display: none;
}

.visit-prof-div{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid #333;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(177, 209, 135);
    cursor: pointer;
}

@media (max-width:600px) {
    .bg-scr-div{
        display: none;
    }

    .mobile-visit-prof-div{
        display: flex;
    }
    .tutor-card__profile-container{
        flex-direction: column;
    }
    .tutor-img{
        width: 50px;
        height: 50px;
    }
    .tutor-img-div{
        align-self: flex-start;
    }
}

@media (max-width:440px) {
    .tution-info{
        flex-direction: column;
        gap: 0.5rem;
    }
}

