
.create-button {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.submit-tuition {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #2114d5;
  color: white;
  padding: 10px;
  cursor: pointer;
  /* padding: 10px 20px;
  font-weight: bold; */
}

.submit-tuition:hover {
  background-color: #45a049;
}

.submit-tuition p {
  margin-left: 10px;
  font-size: 16px;
}

.add-tuition-wrapper{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.header-flx{
  display:flex;
  align-items: center;
  gap: 1rem;
}

.list-header-flx{
  display:flex;
  align-items: center;
  gap: 1rem;
}

.grid-columns{
   display: grid;
   grid-template-columns: 0.5fr 1fr 1fr;
   gap: 1rem;
   align-items: center;
}

.subjects-container .boards-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
}

.create-tuition-select{
  padding: 5px;
}

input[type='time']{
  width: max-content;
  height: max-content;
}

.create-tuition-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #45a049; */
  min-height:calc(100vh - var(--header-height));
  gap: 1rem;
  padding: 1rem 0px 1rem 0px;
  position: relative;
}

.create-tuition-form{
  width: 686.38px;
  height: max-content;
  background: rgb(227, 222, 222);
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
}

.list-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fees-input{
  width: 100px;
  height: 30px;
}

.at-gp{
  margin-top: 1rem;
}
.arrow-nav{
  position: absolute;
  cursor: pointer;
  top: 5rem;
  left: 5rem;
}

.crt-tut-sl-cntr{
  width: 100px;
}

@media (max-width:550px) {
    .grid-columns{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
}

@media (max-width:722px) {
  .create-tuition-form{
    width: 90%;
  }
}

@media (max-width:371px) {
    .list-header-flx{
      flex-direction: column;
      align-items: flex-start;
    }
}
