
.submit-tuition:hover {
  background-color: #45a049;
}

.submit-tuition p {
  margin-left: 10px;
  font-size: 16px;
}

.add-tuition-wrapper{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.header-flx{
  display:flex;
  align-items: center;
  gap: 1rem;
}

.nrm-header-flx{
  display:flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.list-header-flx{
  display:flex;
  align-items: center;
  gap: 1rem;
}

.grid-columns{
   display: grid;
   grid-template-columns: 0.5fr 1fr 1fr;
   gap: 1rem;
   align-items: center;
}

.subjects-container .boards-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
}

input[type='time']{
  width: max-content;
  height: max-content;
}

.create-tuition-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:calc(100vh - var(--header-height));
  gap: 1rem;
  padding: 1rem 0px 1rem 0px;
  position: relative;
}

.create-tuition-form{
  width: 686.38px;
  height: max-content;
  background: rgb(227, 222, 222);
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 20px;
  overflow-x: hidden;
}

.list-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fees-input-styl{
  border: 2px solid #ccc;
  box-shadow: 0px 0px 1px black;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 5px 7px;
  font-size: 16px;
}

.at-gp{
  margin-top: 1rem;
}
.arrow-nav{
  position: absolute;
  cursor: pointer;
  top: 5rem;
  left: 5rem;
}

.crt-tut-sl-cntr{
  width: 50%;
}

.crt-tut-brd-slt-cnt{
  width: 50%;
}

.time-tg-styl{
  padding: 5px;
  /* color: #2114d5; */
  background-color: rgb(255, 255, 255);
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 1px black;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

.time-tg-styl:focus{
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)
}

.time-tg-styl::-webkit-calendar-picker-indicator {
  cursor: pointer; /* Pointer cursor for time picker icon */
  filter: invert(50%); /* Adjust icon color (optional) */
}

.location-choose-btn,.ad-tut-location-choose-btn{
  display: flex;
  gap: 1rem;
}

.fee-inp-div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  -webkit-appearance: none; /* For Safari and Chrome */
  appearance: none; /* Standard */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* For Chrome, Safari, and Edge */
  margin: 0;
}

.chg-btn{
  border-radius: 5px;
  outline: none;
  background: rgb(16, 127, 179);
  color: white;
}

.mrg-tp{
  margin-top: 1rem;
}

@media (max-width:500px) {
  .crt-tut-sl-cntr,.crt-tut-brd-slt-cnt{
    width: 100%;
  }
  .crt-tut-loc-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

@media (max-width:1350px) {
     .arrow-nav{
      display: none;
     }
}

@media (max-width:550px) {
    .grid-columns{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
}

@media (max-width:722px) {
  .create-tuition-form{
    width: 90%;
  }
}

@media (max-width:371px) {
    .list-header-flx{
      flex-direction: column;
      align-items: flex-start;
    }
}

