
.selected-subject {
    display: flex;
    align-items: center;
    color: white;
    height: max-content;
    padding: 5px 10px;
    background-color: rgb(56, 98, 160);
    border-radius: 10px;
    width: max-content;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    border-radius: 10px;
    gap:0.5rem;
    font-size: 15px;

  }
  

  .subject-cancel-icon{
    display: flex;
    cursor: pointer;
  }
  
  