/* src/SelectedSubject.css */

.selected-subject {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: max-content;
    padding: 5px;
    background-color: rgb(197, 181, 181);
    border-radius: 10px;
    width: max-content;
    border: 1px solid black;
    border-radius: 10px;
    gap:0.5rem;
    font-size: 15px;
    font-weight: 800;
  }
  

  .close-icon{
    /* background-color: gray; */
    cursor: pointer;
  }
  
  