.app-wrap{
    --sidebar-width:350px;
}

.app-pg-wrap{
    display: flex;
}
.other-pgs{
    width: 100%;
    height:100vh;
    overflow-y: overlay;
    margin-left: var(--sidebar-width);
}
.acc-layout{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.wst{
    height: 70px;
}
.app-pg-wrap::-webkit-scrollbar{
    display: none;
}

.other-pgs::-webkit-scrollbar{
    display: none;
}

.sidebar{
    position: fixed;
    z-index: 2;
}

.close-sidebar{
    transform: translateX(-100%);
}

.sidebar-menu{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (min-width:1000px) and (max-width:1200px) {
    .app-wrap{
       --sidebar-width:300px;
   }
}

@media (max-width:1000px) {
    .app-wrap{
        --sidebar-width:257.48px;
    }

    .other-pgs{
        margin-left: 0;
    }
}



