.app-pg-wrap{
    display: flex;
}
.other-pgs{
    width: 100%;
    height:calc(100vh - var(--header-height));
    overflow-y: overlay;
}
.acc-layout{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.wst{
    height: 70px;
}
.app-pg-wrap::-webkit-scrollbar{
    display: none;
}

.other-pgs::-webkit-scrollbar{
    display: none;
}