.bookmarks-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    height:calc(100vh - var(--header-height));
}

.fav-tutions{
    width: 700px;
    height:calc(100vh - var(--header-height));
    background: rgb(216, 211, 211);
}

.search-results{
    margin-top: 1rem;
}

.bookmark-empty-content{
    margin-top: auto;
    width: 500px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    /* background: rgb(203, 202, 202); */
}

.bookmark-pg-btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(0, 145, 255);
    box-shadow: 0px 0px 5px black;
    color: white;
    border: none;
}

.bookmark-pg-explr-div{
    background: rgb(55, 132, 233);
    color: white;
}

.bookmark-p{
    font-size: 20px;
  line-height: 2rem;
  word-spacing: 0.2rem;
  text-align: center;
}

@media (max-width:500px) {
    .bookmark-empty-content{
        width: 100%;
    }
}

@media (max-width:700px) {
    .fav-tutions{
        width: 100%;;
    }
}