.acc-wrap{
    display: flex;
    width: max-content;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}
.acc-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.acc-p{
    margin-top: 0.5rem;
    text-align: center;
}
.acc-wrap:hover{
    background-color: rgba(121, 103, 103, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    transform: scale(1.02);
}