.teacher-list-box{
    width: 800px;
    height: 200px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-list-img{
    background: green;
    flex: 0.1;
}
.teacher-list-dets{
    background: gray;
  flex: 0.3;
}
.teacher-list-extr{
    background: pink;
    flex: 0.3;
  }