.del-bck{
    background: red;
    color: white;
}
.ed-bck{
    background: blue;
    color: white;
}
.sv-bck{
    background: green;
    color: white;
}
.cncl-bck{
    background:#808080;
    color: white;
}

.gp{
    margin-top: 5px;
}

.tuition-wrapper{
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap:1rem;
   background: white;
   box-shadow: 1px 1px 5px blue;
   padding: 1rem;
   border-radius: 20px;
}

.tuition-grid{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: center;
    /* background: green; */
}

.time-inputs{
    display: flex;
    gap: 1rem;
}

.days-inputs{
    display: flex;
    gap: 1rem;
}

.std-select{
    display: flex;
    gap: 1rem;
}

.time-flex,.days-flex,.std-flex{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tution-options{
    /* background: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fee-input{
    width: 100px;
}

.mobile-icons{
    width: 100px;
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
    display: none;
}

.board-label-div{
    align-self: start;
}

/* .subject-label-div{
    align-self: start;
} */

.tuition-grid-edited{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.isEditing-label{
    margin-top: 1rem;
}

.std-select-tag{
    height: 30px;
    width: max-content;
}

.isEditing-div{
    /* background: red; */
    width: 100%;
}

.dt-select{
    width: max-content;
}

.dys-slt-cntr{
    height: 35px;
    /* font-size: 10px; */
}

.dt-drp{
    width: 20px;
}

.std-slt-cntr{
    /* height: 35px; */
}

.std-drp{
    width: 20px;
}

.loc-ad-div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.loc-ad-ic{
    display: flex;
    color: green;
}

.see-loc-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

@media (max-width:271px) {
    .time-flex{
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }
}

@media (max-width:231px) {
    .days-flex{
        flex-direction: column;
        align-items: flex-start;
        gap: 0rem;
    }
}

@media (max-width:352px) {
    .gp{
        margin-top: 0;
    }
}

@media (max-width:405px) {
    .tuition-grid{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .tuition-value-div{
        margin-bottom: 10px;
    }

    .days-inputs{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:420px) {
    .time-inputs{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:700px) {
    .tution-options{
        display: none;
    }
    .tuition-wrapper{
        display: flex;
        flex-direction: column;
    }
    .mobile-icons{
        display: flex;
    }
}
@media (max-width:290px) {
    .std-select{
        flex-direction: column;
    }
}
