@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}



.top-wst{
  height: 70px;
}
body {
  color: rgb(37, 35, 35);
}
body::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb{
  border-radius: 10px;
}

*:hover::-webkit-scrollbar-thumb{
  background-color: rgb(125, 125, 125);
}
