.modal-login{
    width: 400px;
}

.login-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lg-mdl-inp{
    border: 2px solid #ccc;
}

@media (max-width:440px) {
    .login-container{
        width: 100%;
    }
    
}